/*
 ========================================================
 This pattern is downloaded from www.subtlepatterns.com
 If you need more, that's where to get'em.
 ========================================================
*/

body {
  font-family: 'Dosis', sans-serif;
  background-image: url('../bg/topography.png');
}

a {
  color: #000;
}

a:hover {
  color: #000;
}

#link-detail {
  padding: 8px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #28a745;
}

.mono_text {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 100% !important;
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(40, 167, 69, 0.6);
}