<!DOCTYPE html>{% load static %}
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>wklej.us</title>
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,700&amp;subset=latin-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xl-10 mx-auto">
      {% block content %}{% endblock %}
      <div class=" d-flex justify-content-between my-4">
        <span>© 2019<a href="http://janokruta.com/" target="_blank"> Jan Okruta</a></span>
        <span><a href="https://github.com/janokruta/wklej.us" target="_blank">kod źródłowy</a></span>
      </div>
    </div>
  </div>
</div>
</body>
</html>