{% extends 'base.html' %}
{% block content %}
  <h1 class="font-weight-bold my-4 text-center"><a href="/">wklej<span class="text-success">.</span>us</a></h1>
  <form method="post" id="add_link">
    {% csrf_token %}
    <textarea id="id_text" class="form-control mono_text" name="text" rows="14" required wrap="hard"></textarea>
  </form>
  <button class="btn btn-success mt-2 w-100" onclick="checkText()">Dodaj</button>
  <script>
    function checkText() {
      const text = document.getElementById('id_text').value;
      if (text.trim()) {
        document.getElementById('add_link').submit();
      }
    }
  </script>
{% endblock %}