{% extends 'base.html' %}
{% block content %}
  <h1 class="font-weight-bold my-4 text-center"><a href="/">wklej<span class="text-success">.</span>us</a></h1>
  <form method="post" id="add_link">
    {% csrf_token %}
    <textarea id="id_text" class="form-control mono_text" name="text" rows="14" required wrap="hard"></textarea>
  </form>
  <div class="d-flex justify-content-between mt-2">
    <div class="form-group form-inline mb-0">
      <label for="sel1">wygaśnie za:</label>
      <select id="sel1" class="form-control ml-3">
        <option>1 dzień</option>
        <option>7 dni</option>
        <option selected>14 dni</option>
        <option>30 dni</option>
        <option>nigdy</option>
      </select>
    </div>
    <button class="btn btn-success px-5" onclick="checkText()">dodaj</button>
  </div>
  <script>
    function checkText() {
      const text = document.getElementById('id_text').value;
      if (text.trim()) document.getElementById('add_link').submit();
    }
  </script>
{% endblock %}